.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    .main-head {
        background: $white;
        padding: 20px 0;
        text-align: center;
    }

    .search {
        display: inline-block;
        position: relative;
        width: 200px;

        input {
            background: transparent;
            border: 1px solid $black-80;
            border-radius: 5px;
            padding: 7px 10px;
            width: 100%;
        }

        i {
            color: $black-80;
            position: absolute;
            right: 8px;
            top: 8px;
            z-index: -1;
        }
    }

    .left {
        left: 20px;
        margin-top: 5px;
        position: absolute;
    }

    .right {
        margin-top: 5px;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .menu-toggle {
        cursor: pointer;
        left: 0;
        position: absolute;
    }

    h1 {
        cursor: pointer;
        margin-left: 25px;
    }

    .name {
        cursor: pointer;
        font-weight: $semibold-font-weight;

        &.has-notifications:after {
            background: color(red);
            border-radius: 5px;
            content: ' ';
            display: inline-block;
            padding: 3px;
            position: absolute;
            top: -2px;
        }
    }

    .sub-head {

        .info-region {
            background: $black-90;
            border-bottom: 1px solid $black-80;
            border-top: 1px solid $black-80;
            padding: 20px;
            position: relative;
        }

        .breadcrumbs {
            display: inline-block;
            font-weight: $bold-font-weight;
        }

        .numbers {
            display: none;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }

        .filter-toggle,
        .option-toggle {
            color: color(blue, light);
            cursor: pointer;
            display: inline-block;
            position: absolute;
            right: 20px;
            top: 20px;
        }

        .filter-region {
            background: $black-95;
            border-bottom: 1px solid $black-80;
            display: none;
            padding: 10px 20px;
            position: relative;
        }

        .option-region {
            background: $white;
            box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
            display: none;
            padding: 15px;
            position: absolute;
            right: 10px;
            z-index: 1;

            ul {
                list-style-type: none;
            }

            li {
                color: color(blue, light);
                cursor: pointer;
                margin-bottom: 7px;
            }
        }

        .dropdown-button {
            margin-right: 10px;
        }

        .input-pretty {
            display: inline-block;
        }

        .show {
            display: block;

            &.numbers {
                display: inline-block;
            }
        }
    }

}
