body {
    overflow-x: hidden;
}

.container {
    background: $white;
}

.main {
    padding: 150px 20px 0;
}

.content {
    h2 {
        font-size: 22px;
    }

    .info {
        color: $black-60;
        display: inline;
    }

    .find {
        float: right;
        margin-top: -1%;

        input {
            border: 1px solid $black-80;
            border-radius: 50px;
            padding: 7px 10px;
            width: 80%;
        }
    }

    table {
        margin-top: 20px;
        table-layout: fixed;
        width: 100%;

        tr {
            border-bottom: 1px solid $black-80;
        }

        .row-task {
            width: 50%;
        }

        .row-due {
            width: 70px;
        }

        th,
        td {
            padding: 10px;
            position: relative;

            &:hover {
                color: $black;
            }
        }

        td {
            color: $black-60;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        tbody tr:hover {
            background: color(light_blue);

            td {
                color: $black;
            }
        }

        td:first-of-type {
            color: $black;
            padding-left: 30px;
        }

        td i {
            border: 1px solid $black;
            border-radius: 2px;
            cursor: pointer;
            height: 16px;
            left: 5px;
            position: absolute;
            width: 16px;
        }
    }
}
