html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

.container {
    min-height: 100%;
}

.hidden {
    display: none;
}

.main {
    background: $white;
    padding: 150px 20px 0;
}

.content {

    &.half {
        width: 50%;
    }

    h2 {
        font-size: 22px;
    }

    .info {
        color: $black-60;
        display: inline;
    }

    .find {
        float: right;
        margin-top: -25px;

        input {
            border: 1px solid $black-80;
            border-radius: 50px;
            padding: 7px 10px;
            width: 80%;
        }
    }

    table {
        margin-top: 20px;
        table-layout: fixed;
        width: 100%;

        tr {
            border-bottom: 1px solid $black-80;
        }

        .row-task {
            width: 50%;
        }

        .row-due {
            width: 70px;
        }

        th,
        td {
            padding: 10px;
            position: relative;

            &:hover {
                color: $black;
            }
        }

        td {
            color: $black-60;
            white-space: nowrap;

            div {
                display: inline-block;
                max-width: calc(100% - 20px);
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &.document:after {
                content: '\e61a';
                font-family: 'roundingwell';
                margin-left: 5px;
            }
        }

        tbody tr:hover {
            background: color(light_blue);

            td {
                color: $black;
            }
        }

        td:first-of-type {
            color: $black;
            padding-left: 30px;
        }

        td .font-icon-checkmark {
            border: 1px solid $black;
            border-radius: 2px;
            color: transparent;
            cursor: pointer;
            left: 5px;
            position: absolute;
        }
    }
}
