.patient-profile {
    padding: 25px 25px 0;
    width: 100%;

    .heading {
        overflow: hidden;

        h1 {
            color: color(blue, light);
        }
    }

    &.content h1 {
        color: $black;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    span {
        color: color(blue, light);
        display: inline-block;
        margin: 0 2px;
    }

    .overview {
        padding-bottom: 20px;

        .more i {
            cursor: pointer;
            display: inline-block;
            font-size: 12px;
            transform: rotate(45deg);
        }
    }

    .risk-status,
    .dashboard {
        border-bottom: 1px solid $black-80;
        border-top: 1px solid $black-80;
        color: $black-40;
        margin-bottom: 20px;
        padding: 15px 0;

        .info {
            float: right;
        }
    }

    .dashboard {
        border-top: 1px solid $black-80;
        font-size: 16px;
        font-weight: $semibold-font-weight;
        padding: 15px 25px;

        .current,
        .info {
            color: $black;
        }

        .info {
            font-size: 14px;
            font-weight: normal;
        }
    }

    .status {
        &.open {
            color: color(green);
        }

        &.needs-attention {
            color: color(red);
        }
    }

    .risk {
        h3 {
            color: $black-60;
            font-size: 14px;
            text-transform: uppercase;
        }

        h2 {
            font-size: 18px;
        }
    }

    .risk-factor {
        margin: 15px 0 25px;

        i {
            color: color(blue, light);
            display: inline-block;
        }

        span {
            color: $black;
            text-transform: initial;
        }
    }

    .task-management,
    .current-list {
        margin-bottom: 40px;

        ul {
            list-style-type: none;
        }

        li {
            border-top: 1px solid $black-80;
            cursor: pointer;
            padding: 10px 0 10px 30px;
            position: relative;

            &:last-of-type {
                border-bottom: 1px solid $black-80;
            }

            &:hover,
            &.active {
                background: color(light_blue);
            }
        }

        .font-icon-checkmark {
            border: 1px solid $black;
            border-radius: 2px;
            color: transparent;
            cursor: pointer;
            font-size: 14px;
            left: 5px;
            position: absolute;
        }

        span {
            color: $black-60;
        }

        .add-task {
            color: color(blue, light);
            font-weight: $semibold-font-weight;

            .font-icon-checkmark {
                border: 2px solid color(blue, light);
            }
        }
    }

    .current-list {
        li {
            padding: 15px 25px;

            &:first-of-type {
                border-top: 0;
            }
        }

        h3,
        h2,
        div {
            margin: 3px 0;
        }

        .right {
            position: absolute;
            right: 25px;
            text-align: right;
            top: 10px;
        }

        .id {
            color: $black-60;
        }
    }

    .history {
        max-width: 500px;

        ul {
            list-style-type: none;
        }

        li,
        .assignee,
        .info {
            color: $black-60;
            font-size: 14px;
        }

        li {
            margin: 5px 0;
            padding-left: 25px;

            i {
                left: 25px;
                position: absolute;
            }
        }

        .complete {
            color: $black;
            font-size: 16px;
            margin: 15px 0;
        }

        .mention {
            color: color(blue, light);
            display: inline;
            font-weight: $bold-font-weight;
        }

        .info {
            margin: 2px 0;
        }

        .font-icon-checkmark {
            border: 1px solid $black-80;
            border-radius: 2px;
            color: color(green);
        }

        .add-comment {
            display: block;
            max-width: 400px;
            text-align: left;
            width: 100%;

            i {
                margin-right: 10px;
            }
        }

        &.recent {
            ul {
                margin-bottom: 25px;
            }
        }
    }
}
