.super-sidebar {
    background: $white;
    bottom: 0;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
    left: 100%;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 130px;
    transition: left 0.2s ease-in-out;
    width: 50%;
    z-index: 1;

    ul {
        list-style-type: none;
    }
}

.sidebar-active {
    .main table tr:not(.active) td {
        color: $black-80;
    }

    .super-sidebar {
        left: 50%;
    }
}
