.super-sidebar {
    background: $white;
    bottom: 0;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
    overflow: auto;
    padding: 25px 25px 0;
    position: fixed;
    right: -100%;
    top: 130px;
    transition: all 0.2s ease-in-out;
    width: 50%;
    z-index: 1;

    .close {
        color: $black-60;
        cursor: pointer;
        position: absolute;
        right: 25px;
        transform: rotate(45deg);
        z-index: 1;
    }

    ul {
        list-style-type: none;
    }

    .footer {
        background: $black-90;
        border-top: 1px solid $black-80;
        bottom: 0;
        margin: 50px -25px 0;
        padding: 15px;
        position: relative;
        z-index: 1;

        .follower {
            color: color(blue, light);
            font-weight: $semibold-font-weight;
        }
    }
}

.sidebar-active {
    .main table tr:not(.active) td {
        color: $black-80;
    }

    .super-sidebar {
        right: 0;
    }
}
