*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins,
kbd, q, s, samp, small, strike, tt, var, b, u, i, center, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, button, input, textarea, option, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

br {
  height: 0;
}

strong,
b {
  font-weight: 600;
}

a {
  -webkit-appearance: none;
  -webkit-focus-ring-color: transparent;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
  text-decoration: none;
}

a img {
  border: 0;
}

button,
input {
  -webkit-appearance: none;
  line-height: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

legend {
  display: none;
}

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

@font-face {
  font-family: 'ProximaNovaSoft';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ProximaNovaSoft/2924BB_2_0.eot");
  src: url("../fonts/ProximaNovaSoft/2924BB_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaSoft/2924BB_2_0.woff") format("woff"), url("../fonts/ProximaNovaSoft/2924BB_2_0.ttf") format("truetype");
}

@font-face {
  font-family: 'ProximaNovaSoft';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/ProximaNovaSoft/2924BB_1_0.eot");
  src: url("../fonts/ProximaNovaSoft/2924BB_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaSoft/2924BB_1_0.woff") format("woff"), url("../fonts/ProximaNovaSoft/2924BB_1_0.ttf") format("truetype");
}

.u-float--left {
  float: left;
}

.u-float--right {
  float: right;
}

.u-float--clear {
  clear: both;
}

.u-margin--t-2 {
  margin-top: 2px !important;
}

.u-margin--t-8 {
  margin-top: 8px !important;
}

.u-margin--t-10 {
  margin-top: 10px !important;
}

.u-margin--t-20 {
  margin-top: 20px !important;
}

.u-margin--t-ser {
  margin-top: 5px !important;
}

.u-margin--t-s {
  margin-top: 10px !important;
}

.u-margin--t {
  margin-top: 15px !important;
}

.u-margin--r-ser {
  margin-right: 5px !important;
}

.u-margin--r-s {
  margin-right: 10px !important;
}

.u-margin--r {
  margin-right: 15px !important;
}

.u-margin--r-m {
  margin-right: 25px !important;
}

.u-margin--r-20 {
  margin-right: 20px !important;
}

.u-margin--r-35 {
  margin-right: 35px !important;
}

.u-margin--b-8 {
  margin-bottom: 8px !important;
}

.u-margin--b-20 {
  margin-bottom: 20px !important;
}

.u-margin--b-40 {
  margin-bottom: 40px !important;
}

.u-margin--b-ser {
  margin-bottom: 5px !important;
}

.u-margin--b-s {
  margin-bottom: 10px !important;
}

.u-margin--b {
  margin-bottom: 15px !important;
}

.u-margin--b-l {
  margin-bottom: 40px !important;
}

.u-margin--l {
  margin-left: 15px !important;
}

.u-margin--l-s {
  margin-left: 10px !important;
}

.u-margin--l-ser {
  margin-left: 5px !important;
}

.u-margin--l-m {
  margin-left: 25px !important;
}

.u-margin--l-20 {
  margin-left: 20px !important;
}

.u-margin--l-35 {
  margin-left: 35px !important;
}

.u-padding--t-ser {
  padding-top: 5px !important;
}

.u-padding--t {
  padding-top: 15px;
}

.u-padding--t-20 {
  padding-top: 20px !important;
}

.u-padding--r-20 {
  padding-right: 20px !important;
}

.u-padding--r-s {
  padding-right: 10px !important;
}

.u-padding--r-ser {
  padding-right: 5px !important;
}

.u-padding--b-40 {
  padding-bottom: 40px !important;
}

.u-padding--b {
  padding-bottom: 15px !important;
}

.u-padding--l-s {
  padding-left: 10px !important;
}

.u-padding--l-ser {
  padding-left: 5px !important;
}

.u-padding--l-20 {
  padding-left: 20px !important;
}

.u-text-align--center {
  text-align: center !important;
}

.u-text-align--left {
  text-align: left !important;
}

.u-text-align--right {
  text-align: right !important;
}

.u-text-all-caps {
  text-transform: uppercase !important;
}

.u-text-overflow {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.u-text-nowrap {
  white-space: nowrap;
}

html {
  font-size: 10px !important;
}

body {
  color: #333;
  font-family: "ProximaNovaSoft", "Droid Sans", "helvetica neue", "arial", sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.pn-12 {
  font-size: 12px;
}

.pn-12--blue--bold {
  color: color(blue);
  font-size: 12px;
  font-weight: 700;
}

.pn-12--black_40 {
  color: #666;
  font-size: 12px;
}

.pn-12--black_60 {
  color: #999;
  font-size: 12px;
}

.pn-12--black_80 {
  color: #CCC;
  font-size: 12px;
}

.pn-12--black-40--semibold--all-caps {
  color: #666;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.pn-12--black-60--semibold {
  color: #999;
  font-size: 12px;
  font-weight: 600;
}

.pn-12--black-60--all-caps {
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
}

.pn-12--black-60--semibold--all-caps {
  color: #999;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.pn-13--grey {
  color: #B4B4B4 !important;
  font-size: 13px;
}

.pn-13--black-60 {
  color: #999;
  font-size: 13px;
}

.pn-14--bold {
  font-size: 14px;
  font-weight: 700;
}

.pn-14--black-20 {
  color: #333;
  font-size: 14px;
}

.pn-14--black-40 {
  color: #666;
  font-size: 14px;
}

.pn-14--black--bold {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.pn-14-black-20--semibold--all-caps {
  color: #333;
  font-size: 14px;
  font-weight: 600;
}

.pn-16--black--semibold {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.pn-16--blue--bold {
  color: color(blue);
  font-size: 16px;
  font-weight: 700;
}

.pn--blue {
  color: color(blue);
}

.pn--blue--bold {
  color: color(blue);
  font-weight: 700;
}

.pn--black-60 {
  color: #999;
}

.pn--black-40 {
  color: #666;
}

.pn--black-20 {
  color: #333;
}

.u-nowrap {
  white-space: nowrap;
}
