//
// Margins/Padding
// -----------------------------------------------------------

// Aligns with small button text
.u-margin {

    &--t-2 { margin-top: 2px !important; }
    &--t-8 { margin-top: 8px !important; }
    &--t-10 { margin-top: 10px !important; }
    &--t-20 { margin-top: 20px !important; }
    &--t-ser { margin-top: $pad-smaller !important; }
    &--t-s { margin-top: $pad-small !important; }
    &--t { margin-top: $pad !important; }

    &--r-ser { margin-right: $pad-smaller !important; }
    &--r-s { margin-right: $pad-small !important; }
    &--r { margin-right: $pad !important; }
    &--r-m { margin-right: $pad-med !important; }
    &--r-20 { margin-right: 20px !important; }
    &--r-35 { margin-right: 35px !important; }

    &--b-8 { margin-bottom: 8px !important; }
    &--b-20 { margin-bottom: 20px !important; }
    &--b-40 { margin-bottom: 40px !important; }
    &--b-ser { margin-bottom: $pad-smaller !important; }
    &--b-s { margin-bottom: $pad-small !important; }
    &--b { margin-bottom: $pad !important; }
    &--b-l { margin-bottom: $pad-large !important; }

    &--l { margin-left: $pad !important; }
    &--l-s { margin-left: $pad-small !important; }
    &--l-ser { margin-left: $pad-smaller !important; }
    &--l-m { margin-left: $pad-med !important; }
    &--l-20 { margin-left: 20px !important; }
    &--l-35 { margin-left: 35px !important; }

}

.u-padding {
    &--t-ser { padding-top: $pad-smaller !important; }
    &--t { padding-top: $pad; }
    &--t-20 { padding-top: 20px !important; }

    &--r-20 { padding-right: 20px !important; }
    &--r-s { padding-right: $pad-small !important; }
    &--r-ser { padding-right: $pad-smaller !important; }

    &--b-40 { padding-bottom: 40px !important; }
    &--b { padding-bottom: $pad !important; }

    &--l-s { padding-left: $pad-small !important; }
    &--l-ser { padding-left: $pad-smaller !important; }
    &--l-20 { padding-left: 20px !important; }

}
