.input--general {
    @include placeholder {
        color: #AAA;
    }

    // iOS Remove inner shadow
    -webkit-appearance: none;
    background-color: $white;
    border: 1px solid #BBB;
    border-radius: 4px;
    color: #333;
    // Override Webkit user agent crap
    font-family: $proxima-soft;
    font-size: 14px;
    padding: 6px 9px;
    position: relative;
    resize: none;

    // FIXME: for IE8 & 9, remove one distant day when it is no longer needed
    &.placeholder {
        color: #AAA;
    }

    &:focus {
        border-color: color(blue);
        outline: 0;
    }

    &.has-error,
    &.error {
        border-color: $error-color !important;
    }

    // remove clear button in IE10+
    &::-ms-clear {
        display: none;
    }
}

.note.error {
    color: $error-color;
}

.note.success {
    color: $success-color;
}

.form-control-cancel {
    @include proxima-nova($black-60, 12px);

    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
    vertical-align: middle;
}

.form-control-na {
    @include proxima-nova($black-60, 12px);

    cursor: pointer;
    position: relative;
    text-decoration: underline;
    top: 5px;
    vertical-align: middle;

    &[disabled] {
        color: $black-80;
        cursor: not-allowed;
    }
}

%form-control-clear {
    color: color(blue);
    cursor: pointer;
    font-size: 14px;
    font-weight: $bold-font-weight;
    position: absolute;
    right: 35px;
    top: 10px;
}

.form-control-clear {
    @extend %form-control-clear;
}

.form-control-delete {
    @extend %form-control-clear;
    color: $error-color;
}

.form-note {
    font-size: 12px;
}

.form-note--link {
    color: color(blue);
    font-size: 12px;
    text-decoration: underline;
}

// the negative margin assumes that this comes after an input
.form-note--hint {
    @include proxima-nova($black-60, 12px);
    margin-top: (-$pad-smaller);
}

.form-group {
    @include clearfix();
}


//
// Form with stacked inputs
//
.form--vertical {
    label {
        color: #666;
        display: inline-block;
        font-size: 12px;
    }

    .input--general {
        border: 1px solid #E6E6E6;

        &:focus {
            border: 1px solid #CCC;
            outline: 0;
        }

        &.has-error,
        &.error {
            border-color: $error-color;
        }
    }

    .alert.alert-error {
        margin-top: 0;
    }

    label,
    .input--general,
    .form-note,
    .note,
    select,
    [class*=button] {
        margin-bottom: $pad-small;
    }

    .form-group {
        margin-bottom: 15px;
    }

    &.grey {
        .input--general {
            background-color: $black-98;
            line-height: 1.2;
        }
    }
}

textarea {
    &.row-3 {
        min-height: 70px;
    }

    &.row-9 {
        min-height: 160px;
    }
}
